---
import "../styles/global.css";
import type { Lang } from "../i18n/translations";
import {
  useTranslations,
  localePath,
  alternateLang,
  languages,
} from "../i18n/translations";
import Navbar from "../components/Navbar.svelte";

interface Props {
  lang: Lang;
  title: string;
  description?: string;
  altHref: string;
  class: string;
}

const { lang, title, description, altHref, class: className } = Astro.props;
const t = useTranslations(lang);
const prefix = localePath(lang);
const altLang = alternateLang(lang);
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    {description && <meta name="description" content={description} />}
    <title>Pauli Schlipf - {title}</title>
  </head>
  <body>
    <Navbar {lang} {altHref} pathname={Astro.url.pathname} />
    <div class={`container my-8 mx-auto px-4 py-4 max-w-[1200px] ${className}`}>
      <slot />
    </div>
  </body>
</html>
